.App {
  text-align: center;
  padding-top: 3em;
}

.board-container {
  width: 320px;
  margin: auto;
}

.board-row {
  display: flex;
}

.board-cell {
  width: 40px;
  line-height: 30px;
  text-align: center;
  border: 1px #999 solid;
}